body {
    font-family: 'Open Sans';
    margin: 0 8%;
}
#site-name a,li a {
    color: black;
    text-decoration: none;
}
#name-and-slogan, #secondary-menu{
    display:inline-grid;
    
    /* width: 40%; */
}
#site-slogan {
    font-size: 0.8em;
}
#site-name {
    font-size: 2em;
}
#name-and-slogan{
    width: 80%;
}
#header #site-name, #header #site-slogan{display: inline;}
#main-menu{clear: both}
#main-menu-links {
    list-style-type: none;
    text-align: center;
}
#main-menu-links li {
    display: inline;
    font-size: 1.6em;
    font-weight: 900;
    padding: 1%;
}
#footer  ul {
    text-align: center;
}

#footer .menu li{
    list-style: none;
    display: inline;
    font-size: 0.8em;
}